<!DOCTYPE html>
<html lang="en">  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  </head>
    {% extends "base.html" %}
    {% block title %}Coolegas.com{% endblock %}
    {% block content %}
    <h1 class = "title">Has salido de tu cuenta</h1>
      <div class="main-centered">
        <p class="main-content">Deseas entrar en tu cuenta?</p>
        <a  class = 'boton' href="{% url 'login_page' %}">Entrar</a>
      </div>
    {% endblock %}
</html>