<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
  {% extends "base.html" %}

  {% block title %}Sign Up{% endblock %}

{% block content %}
  {% if registered %}
    <h1>Gracias por registrarte!</h1>
  {% else %}
  <h1 class = "title">Registro</h1>
  <div class = "signup-form">
    <form  enctype='multipart/form-data' method="post">
      {% csrf_token %}
      {{ user_form.as_p }}
      <button class = "boton" type="submit">Registrate</button>
    </form>
  </div>
  {% endif %}
{% endblock %}
</html>