{% load static %}
<link rel="stylesheet" href="{% static 'style.css'  %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
<header>
    <div class="navbar-all">
      <div class = "navegacion">
        <a class = "page-name" href="{% url 'home' %}">Coolegas.com</a>
        <ul cclass='dropdown-nav'>
          <li><a href="{% url 'sugerencias' %}">Sugerencias</a></li>
          <li><a href="{% url 'about' %}">About</a></li> 
        </ul>

      </div>
      
      <div class = "user">
        <a class = "signup" href="{% url 'signup' %}">Registro</a>
        <a class ='login' href="{% url 'login_page' %}">Login</a>
      </div>
    </div>
</header>
<body>
  <main>
    {% block content %} {% endblock content %}
  </main>
  <div class="pie-de-pagina" >
    <p class = "intro-pie-pagina" >Creado por </p>
    <a class = "enlace-veggiedev" href="https://github.com/veggiedev">@veggiedev</a>
  </div>


</body>


