{% load static %}
<link rel="stylesheet" href="{% static 'style.css'  %}">

<header>
  
  <container class="navbar">
    <container class = "title">
      <h1>Coolegas.com</h1>
    </container>
    <container class="navbar-items">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'signup' %}">Sign Up</a>
      <a href="{% url 'sugerencias' %}">Sugerencias</a> 
    </container>
  </container>
  <container class="login">
    <a class ='login' href="{% url 'login' %}">Login</a>
  </container>
    <!-- <a href="{% url 'about' %}">About</a> -->
  </header>
  
  {% block content %} {% endblock content %}

