{% load static %}
<link rel="stylesheet" href="{% static 'style.css'  %}">

<header>
    <div class="navbar-all">
      <div class = "navegacion">
        <a class = "page-name" href="{% url 'home' %}">Coolegas.com</h1>
        <a href="{% url 'sugerencias' %}">Sugerencias</a>
        <a href="{% url 'about' %}">About</a> 
      </div>
      
      <div class = "user">
        <a class = "signup" href="{% url 'signup' %}">Sign Up</a>
        <a class ='login' href="{% url 'login' %}">Login</a>
      </div>
    </div>
</header>
<body>
  <main>
    {% block content %} {% endblock content %}
    
    <h4 class="pie-de-pagina">Propiedad de @veggiedev</h4>

  </main>



</body>


