<!DOCTYPE html>
<html lang="en">  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  </head>
    {% extends "base.html" %}
    {% load static %}

    {% block title %}Coolegas.com{% endblock %}
    {% block content %}
    <h1 class = "title">Bienvenido a Coolegas.com!</h1>
    <h3>Bienvenido a tu red social de amigos y colegas</h3>
    <p>En Coolegas.com puedes encontrar a gente con la que salir, beber.... ir de montañismo, ciclismo etc.
      Puedes buscar a gente o actividades a tu alrededor, ver sugerencias de actividades y mucho más.</p>
    <p>Esperamos que te guste y encuentres a coolegas geniales ;).</p>
    <div class="main-login">
      <a class = "boton-main" href="{% url 'signup' %}">Registro</a>
      <a class ='boton-main' href="{% url 'login_page' %}">Iniciar sesión</a>
    </div>


    <h3>Conoce a gente, prueba nuevas actividades! Disfruta la vida al maximo!</h3>
    <div class="home-photos">
      <a class="home-photo-link" href="#"><img class="home-photo" src="{% static  'Images/36.jpg' %}"></a>
      <h3 class="photo-description">Nombre:</h3>
      <a class="home-photo-link" href="#"><img class="home-photo" src="{% static  'Images/406.jpg' %}"></a>
      <h3 class="photo-description">Nombre:</h3>
      <a class="home-photo-link" href="#"><img class="home-photo" src="{% static  'Images/1006.jpg' %}"></a>
      <h3 class="photo-description">Nombre:</h3>
      <a class="home-photo-link" href="#"><img class="home-photo" src="{% static  'Images/2006.jpg' %}"></a>
      <h3 class="photo-description">Nombre:</h3>

    </div>

      {% endblock %}

</html>