body {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    color: rgb(233, 80, 105);
    background-color: rgb(255, 236, 243);
    font-family: Arial, Helvetica, sans-serif;
 } 

.login {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:auto;
    float: right;
    color:rgb(231, 157, 157);
    background-color: rgb(255, 236, 243);
    border-color: rgb(255, 236, 243);
}

.title {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom: 2;
    font-size: 2em;
}



.pie-de-pagina{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.navbar-items {
    background-color:rgb(231, 157, 157);
    border-style: solid;
    border-color:rgb(231, 157, 157);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    color:rgb(37, 9, 9);
    text-align: center;
    padding: 0.5em;
}



h1 {
    text-align: center;
    font-size: 1.5em;
}

a {
    transition: 0.5s;
    color:rgb(88, 18, 24);
    text-decoration: none;
    background-color:rgb(231, 157, 157);
    border-style: solid;
    border-color:rgb(231, 157, 157);
    box-shadow: 5px;

    
}

a:hover {
    transition: 0.5s;
    color:rgb(240, 223, 237);
    text-shadow: 2px;

}

h3 {
    text-align: center;
}